kbd {
  @function em($v) {
    @return $v * (1/0.75);
  }

  display: inline-block;
  min-width: em($lineHeight) * 1em;
  margin: 0 em(0.2em);
  font-size: 0.75em;
  padding: 0 em(0.25em);
  font-family: $fontSans;
  line-height: em($lineHeight);
  background-color: #e6e8f0;
  background-image: linear-gradient(180deg, #ffffff 0%, transparent em(0.0625em)),
    linear-gradient(90deg, #ffffff 0%, transparent em(0.0625em)),
    linear-gradient(0deg, #c1c0c4 0%, transparent em(0.0625em)),
    linear-gradient(270deg, #c1c0c4 0%, transparent em(0.0625em));
  border-radius: 0.2em;
  box-shadow: 0 0 em(0.0625em) #888, 0 em(0.0625em) em(0.0625em) #ccc, 0 0 em(0.125em) #ddd inset;
  text-align: center;
}
