$fontSans:
  #{'-apple-system',
  'system-ui',
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'};

$fontMono:
  #{SFMono-Regular,
  Consolas,
  'Liberation Mono',
  Menlo,
  Courier,
  monospace};

$fontSerif:
  #{Georgia,
  Cambria,
  'Times New Roman',
  Times,
  serif};

$lineHeight: math.div(20, 14);

$colorBackground: #f8fafc;
$colorText: #1e293b;
$colorSecondary: #94a3b8;
$colorTitle: #475569;
$colorError: #b91c1c;

$small: 0.725em;
