@use 'vars';

.version {
  align-self: flex-end;
  display: flex;
  margin: 0 1rem 1rem 0;
  font-size: 0.65em;
  color: vars.$colorSecondary;

  &:hover {
    opacity: 1;
    color: vars.$colorText;
  }

  &__label {
    margin-right: 0.4em;
    line-height: vars.$lineHeight;
  }

  &__icon {
    width: 1.2em;
    padding: 0.11em 0 0 0;
    height: auto;

    svg path {
      fill: currentColor;
    }
  }
}
