.c-game-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 100%;
  }

  &__bar {
    user-select: none;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto 0.4em auto;
  }

  &__bar-item {
    width: 30%;
    flex: 0 0 auto;
  }

  .c-congratulations {
    margin-top: 2em;
  }

  .c-highscores-table {
    margin-top: 2em;
  }
}
