.c-game-menu {
  margin: 0 auto;

  &__form {
    max-width: 12em;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__label,
  &__input,
  &__select {
    line-height: $lineHeight;
  }

  &__label {
    padding: 0.2em 1em 0.2em 0;
  }

  &__input,
  &__select {
    width: 6em;
    border: 0;
    padding: 0.2em 0.4em;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  &__option {
  }

  &__input {
    text-align: right;
  }

  &__input[readonly] {
    opacity: 0.65;
  }

  &__input[type='number'] {
    padding-right: 0;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin-left: 0.4em;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 0.4em;
  }

  &__button {
    display: flex;
    justify-content: center;
    background: #eee;
    line-height: $lineHeight;
    width: 100%;
    padding: 0.2em 0;
    border-radius: 0.2em;

    .c-icon {
      margin-left: 0.4em;
    }
  }
}
