@use 'sass:color';
@use '../vars';

.c-highscores-table {
  width: 20em;
  line-height: vars.$lineHeight;
  table-layout: fixed;

  &__head-row {
    background: color.adjust(vars.$colorBackground, $lightness: -2%, $space: hsl);
  }

  &__foot-row {
    background: vars.$colorBackground;
  }

  &__row {
    &:nth-child(even) {
      background: color.adjust(vars.$colorBackground, $lightness: -2%, $space: hsl);
    }
    &:nth-child(odd) {
      background: vars.$colorBackground;
    }
    &--highlight {
      &:nth-child(even),
      &:nth-child(odd) {
        background:
          radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 20%,
            #c09537 40%,
            #9c7d33 60%,
            transparent 80%
          ),
          radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 20%, #aa8838 100%);

        &,
        .c-highscores-table__cell--rank {
          color: black;
        }
      }
    }
  }

  &__head-cell,
  &__cell,
  &__foot-cell {
    padding: 0.2em 0.2em;
    text-align: center;
  }

  &__head-cell,
  &__cell {
    white-space: nowrap;

    &--rank {
      width: 2.5em;
    }

    &--name {
      width: 8em;
    }

    &--time {
      width: 5.5em;
    }
  }

  &__head-cell {
    font-size: vars.$small;
    color: vars.$colorSecondary;
  }

  &__cell {
    &--rank {
      color: vars.$colorSecondary;
      font-weight: bold;
    }

    &--name {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__foot-cell {
    font-size: small;
    text-align: center;
    padding: 1em 0.2em;

    &--loading {
      color: vars.$colorSecondary;
    }

    &--error {
      color: vars.$colorError;
    }
  }
}
