.c-highscores-view {
  &__options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__options,
  &__updated {
    font-size: $small;
  }

  &__updated {
    margin-top: 1rem;
    text-align: right;
    color: $colorSecondary;
  }
}
