<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Magawa
    link(rel="stylesheet", href="styles/main.scss")
    link(rel="shortcut icon", href=`${APP_URI}favicon.ico`, type="image/x-icon")
    meta(http-equiv="cache-control", content="max-age=0")
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="0")
    meta(http-equiv="expires", content="Thu, 11 Feb 1982 0:00:00 GMT")
    meta(http-equiv="pragma", content="no-cache")
    base(href="/magawa/")
    if (APP_PROD)
      script(async, defer, data-website-id="3ab8d1b8-d861-4f7c-b540-dfae6854b06c", src="https://trk.simbo.de/umami.js")
  body(class="loading")
    a(class="version", title="Sources on GitHub", href="https://github.com/simbo/magawa")
      .version__label=`v${APP_VERSION}`
      .version__icon
        include ../raw/github.svg
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js")
    script(src="scripts/main.tsx")
