html,
body,
#game-container {
  height: 100%;
}

body {
  background: #35654d;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:empty::before {
    text-transform: uppercase;
    content: "Loading...";
  }
}
